:root {
	--page-background-color: initial;
	--page-text-color: initial;
	--input-background-color: initial;
	--input-border-color: initial;
	--input-text-color: initial;
}

* {
	background-color: var(--page-background-color);
	color: var(--page-text-color);
}

input {
	background-color: var(--input-background-color);
	border-color: var(--input-border-color);
	color: var(--input-text-color);
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.by	 {
	display: inline-block;
}